/* Import Google Font - Raleway 300 & 700 */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

/* ========================= */
/* CSS VARIABLES */
/* ========================= */
:root {
    /* Fonts */
    --sans-serif: 'Raleway', sans-serif;
    --font-light: 300;
    --font-bold: 700;

    /* Colors */
    --black: #353535;
    --gray: #4F4F4F;
    --medium-gray: #737373;
    --light-gray: #C4C4C4;
    --orange: #f96855;

    /* Semantic Colors */
    --accent: var(--orange);
    --body-background: var(--black);
    --menu-background: var(--gray);

    --main-font-color: var(--light-gray);
    --menu-active-color: var(--light-gray);
    --menu-font-color: var(--medium-gray);
    --link-color: var(--accent);
}

/* ========================= */
/* General Styles */
/* ========================= */

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--body-background);
    color: var(--main-font-color);
    font-family: var(--sans-serif);
    font-size: 1.2rem;
    line-height: 1.45;
    display: flex;
    flex-wrap: wrap;
}

.main-title {
    text-align: center;
    padding: 20px;
}

/* ========================= */
/* Navigation */
/* ========================= */

.sidebar {
    background-color: var(--menu-background);
    flex: 1 1 20%;
    min-width: 300px;
    padding: 3em;
}

.logo {
    text-transform: uppercase;
    margin-bottom: 2em;

}

.logo span {
    font-weight: var(--font-bold);
}

.nav-item {
    color: var(--menu-font-color);
    text-decoration: none;
    font-size: 1.7em;
    display: inline-block;
    margin-right: 2em;
}

.nav-item.active {
    color: var(--menu-active-color);
}

/* ========================= */
/* Main Content Area */
/* ========================= */

.main-content {
    padding:10%;
    flex: 1 1 80%;
    min-height: 100vh;
}

/* ========================= */
/* Portfolio */
/* ========================= */

.portfolio {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.portfolio-item {
    background: var(--accent);
    color: var(--light-gray);
    font-weight: var(--font-bold);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 10;
}

.portfolio-item.small {
    grid-row: span 1;
    grid-column: span 1;
}

.portfolio-item.medium {
    grid-row: span 2;
    grid-column: span 2;
}

.portfolio-item.large {
    grid-row: span 3;
    grid-column: span 3;
}

.portfolio-item.tall {
    grid-row: span 3;
    grid-column: span 2;
}

.portfolio-item.wide {
    grid-row: span 2;
    grid-column: span 3;
}

.portfolio-item:hover {
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.85);
}

.two {
    overflow: hidden;
}

.two-image { 
    background-image: url(//unsplash.it/800/600);
    z-index: -2;
    backface-visibility: hidden;
}

.two::before {
    content: '';
    display: block;
    background: var(--black);
    opacity: 0.8;
    z-index: -1;
    cursor: pointer;
}

.two::before, .two-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 300ms;
}

.two:hover::before {
    opacity: 0.2;
}

.two:hover .two-image {
    transform: scale(1.1);
}

/* ========================= */
/* Media Queries */
/* ========================= */

@media screen and (min-width: 1500px) {
    .logo {
        margin-bottom: 5em;
    }

    .nav-item {
        display: block;
        margin: 7vh 0;
    }
}